

<div class="container-site">
  <div class="content-site">
    <h4 style="margin-bottom: 15px;">Gérer vos sites</h4>
     <!--form for search -->
     <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-5 mb-2">
        <div class="input-group input-group-merge">

          <input
            type="text"
            class="form-control"
            id="basic-icon-default-fullname"
            placeholder="Chercher par code site ou par réfférence"
            [(ngModel)]="searchName"
            (input)="liveSearchSite()"
          />

          <span class="input-group-text searchspan"
            ><mat-icon>search</mat-icon></span>
        </div>
      </div>

      <div class="col-sm-12 col-lg-2 mt-2 text-lg-center" style="margin-bottom: 15px;">
        <a class="clickable-icon" (click)="refreshSiteList()">
          <mat-icon>refresh</mat-icon>
          <span class="tooltip">Rafraîchir la liste des sites</span>
        </a>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-5">
        <div class="input-group mb-3">
          <button class="btn btn-outline-secondary" type="button" (click)="filterSiteByVisiteAndDate('visiter')">Visité</button>
          <input type="date" class="form-control" [(ngModel)]="filterDate">
          <button class="btn btn-outline-secondary" type="button" (click)="filterSiteByVisiteAndDate('nonvisiter')">Non visité</button>
        </div>
      </div>

    </div>
    <!--end form-->
  </div>

  <div class="content-site">
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th *ngFor="let item of displayedColumns">{{ item }}</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <tr *ngFor="let row of siteList">
            <td>
              {{ row['siteName'] }}
            </td>


            <td>
              <strong>{{ row['siteCode'] }}</strong>
            </td>


            <td>
              {{ row['elecMeterRef'] }}
            </td>



            <td>
              <span [ngClass]="{
                'badge': true,
                'bg-success': row['statusId']['description'] === 'Actif',
                'bg-danger': row['statusId']['description'] === 'Résilié',
                'bg-dark': row['statusId']['description'] === 'Non identifié'
              }">
                {{ row['statusId']['description'] }}
              </span>
            </td>

            <!-- Colonne estimation -->
            <td *ngIf="row['estimatedConsumption'] == null">
              <i class="material-icons">do_not_disturb</i> <span style="color: rgb(3, 56, 249); font-size: medium;">Kwh</span>
            </td>

            <td *ngIf="row['estimatedConsumption'] != null">
              {{ row['estimatedConsumption'] }} <span style="color: rgb(3, 38, 163); font-size: medium;">Kwh</span>
            </td>
            <!-- End Colonne estimation -->



            <td>
              <button type="button" class="btn btn-warning btn-sm action_button" matTooltip="Voir Détails"
              (click)="goToDetailsPages(row)">
                <i class="material-icons icon">remove_red_eye</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <div class="card-footer">

      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">

        </div>

        <div class="col-sm-12 col-md-6 col-lg-4"></div>
        <div class="col-sm-12 col-md-12 col-lg-4 text-lg-right text-md-center text-sm-center">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-lg-end justify-content-md-center justify-content-sm-center">
              <li class="page-item">
                <a class="page-link" (click)="previousPage()">
                  <span aria-hidden="true" style="font-size: 16px;">&laquo;</span>
                </a>
              </li>

              <li *ngFor="let p of pages" [class.page-item]="true"
                                          [class.active]="p === page+1">
                <a class="page-link" (click)="indexPage(p-1)">{{ p }}</a>
              </li>

              <li class="page-item">
                <a class="page-link" (click)="nextPage()" >
                  <span aria-hidden="true" style="font-size: 16px;">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>

        </div>

      </div>
    </div>
  </div>
</div>


