.content{
  padding-left: 20px;
  padding-top: 70px;
  padding-right: 20px;
  padding-bottom: 0px;
}




mat-sidenav-container {
  background-color: #ededed;
  height: 100vh;
}


mat-sidenav, mat-sidenav-content{
  transition: all 500ms ease-in-out;
}


.sidenav{
  width: 250px;
}


@media screen and (max-width: 900px) {
  .sidenav {
    width: 60%; /* Réduire la largeur de la navigation latérale pour les petits écrans */
  }


}


@media screen and (max-width: 500px) {
  .sidenav {
    width: 100%; /* Réduire la largeur de la navigation latérale pour les petits écrans */
  }

  mat-sidenav-container {
    background-color: rgb(243, 241, 241);
    height: 100vh;
  }
}

.example-spacer {
  flex-grow: 1;
}

.toolbar {
  padding: 15px 0px 15px 15px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  z-index: 1000;
  color: black;
}

.menu-toolbar {
  margin-right: 265px;
}



mat-sidenav{
  background-color: #fe531d;
  color: azure;
}



img {
  border-radius: 100%;
  object-fit: cover;
  margin-right: 10px;
}


.blur-cover {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 93%;
  background: rgba(255, 255, 255, 0.5); /* Couleur de fond semi-transparente */
  backdrop-filter: blur(10px); /* Applique le flou */
  z-index: 1000; /* Assurez-vous qu'il est au-dessus de tout autre contenu */
}




/* Responsive */
@media (max-width: 1200px) {
  .menu-toolbar {
     margin-right: 70px;
  }
}

@media (max-width: 992px) {
  .menu-toolbar {
    margin-right: 70px;
 }

 mat-sidenav{
  width: 65px;
}
}

@media (max-width: 576px) {
  .menu-toolbar {
    margin-right: 70px;
  }

  mat-sidenav{
    width: 65px;
  }
}
