



<mat-sidenav-container>
  <mat-sidenav opened mode="side" class="sidenav" [style.width]="sidenavWidth()">
    <app-sidebar [collapsed]="collapsed()"></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content [style.margin-left]="sidenavWidth()">

    <mat-toolbar class="toolbar">
      <button mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon class="menu-icon">menu</mat-icon>
      </button>

      <div class="example-spacer"></div>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-toolbar">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>

    <div class="blur-cover" [style.display]="'none'"></div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <img src="/assets/user.png" width="30" height="30" />
    <span>Nechi Hamza</span>
  </button>
  <button mat-menu-item (click)="onLogout()">
    <mat-icon>logout</mat-icon>
    <span>Déconnexion</span>
  </button>
</mat-menu>
