@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  --primary-color : #ff6e01;
}


h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

/*
th{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */




