<div class="header">
  <img src="../../../assets/alert-icon-red.png" [width]="90">

</div>

<mat-dialog-content class="dialog-content">
  <p class="dialog-title">Confirmation Suppression</p>
  <p >{{ message }}</p>
</mat-dialog-content>

<div class="footer">
  <mat-dialog-actions [align]="'end'" style="padding-top: 10px;">
    <button mat-button [mat-dialog-close]="false" type="button" >Annuler</button>
    <button mat-button [mat-dialog-close]="true" class="primary-button" type="button">Supprimer</button>
  </mat-dialog-actions>
</div>





